<!doctype html>
<title>Pick A Color</title>
<h1>Pick A Color</h1>
<h2>{{ current }}</h2>
<script src="/static/jscolor.js"></script>

<script type="text/javascript">
	function send_color(input_color) {
		// alert(input_color);
		var req = new XMLHttpRequest();
		req.add
		// req.onreadystatechange == function(input_color) {
		// 	if (this.readyState == 4 && this.status == 200) {
		// 		var dict = {"color": "#AAFF00"};
		// 		req.send(JSON.stringify(dict));
		// 	}
		// }
		req.open("POST", "/color.html", true);
		req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
		// var dict = ;
		req.send(JSON.stringify({"color": "#AAFF00"}));
	}
</script>

<body>

<form action="/color.html" method="post">
	<input class="jscolor {onFineChange:'send_color(this.jscolor)'}" name="color" value="{{ current }}">
</form>

<form action="/rainbow.html" method="post">
	<input type="submit" name="rainbow" value="rainbow">
</form>
</body>